
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
table{
    box-shadow: 0 2px 10px;
}
table,th,td{
    border: 2px solid rgb(242, 236, 236);
    border-collapse: collapse;
    padding: 10px;
    width: 80%;
    margin:0 auto;
    table-layout: fixed;

}
th{
    height: 40px;
    text-align: center;
    background-color: blue;
    color: white;
    text-transform: uppercase;
}
td{
    height: 25px;
    text-align: left;
    &td::first-letter{text-transform: capitalize;}
}
table tr:nth-child(odd){
    background-color: lightgray;
}
table tr:nth-child(even){
    background-color: rgb(243, 239, 239);
}
form {
    border: 1px solid black;
    border-radius: 10px;
    padding: 35px;
    margin: 20px auto;
    max-width: 555px;
    box-shadow: 0 4px 10px;
    box-sizing: border-box;
    & h2{
        text-transform: capitalize;
        text-align: center;
        margin:20px 0 40px 0;
    }
}
form input, form select, form textarea, form button{
    border:1px solid black;
    height:40px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
}
 form button {
    height: 45px; text-align: center ;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    background: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);
    cursor: pointer;
    margin-top: 25px;
    color: white;
}
form button:hover{
        color: #ffffff;
        background: #008cff;
        border: 1px solid #008cff;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
        box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
          0 0 100px #008cff;
}
form label{
    font-size: medium;
    text-align: left;
    display: block;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}
form select option{
    font-weight:550;
}
form textarea {
height: 150px;      
padding: 12px;       
resize: vertical;    
}